.background {
	background-image: url('../utilities/images/pattern-bg-mobile.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 40%;
	color: white;
	overflow: hidden;
}

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 1.5rem 2rem;
}

.background h1 {
	margin-bottom: 2rem;
	font-size: 1.5rem;
	font-weight: 500;
}

@media (min-width: 768px) {
	.background {
		background-image: url('../utilities/images/pattern-bg-desktop.png');
		height: 30%;
	}

    .background h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}
